img.banderas {
    width:200px;
    height:150px;
    float:left ;
    margin:24px 50px 30px 0;
    max-width: 100% !important;
      page-break-inside: avoid;
        border: 0;
    border-radius: 9px;
}
div.informacion{
	    height:auto;
    width: 100%;
  margin-top : 200px; 
  margin-left: 6%;
}
div.super{
  margin-top: auto;
}
div.ranking{
	    height:auto;
    width: 100%;
  margin-top : 80px; 
  margin-left: 6%;
}


img.poster {

page-break-inside: avoid;
width: 600px;
height: 400px;
margin-right: 15%;
border-radius: 10px;
float: right;
  margin-top: 0;
	
}
div.mascota{

    height: 389px;
    width: 470px;
    float: left;
    margin-left: 60px;

}
button.btn-roll, button.btn-netflix :hover{
 background-color: #096eb9;
    color: #fff;
    border: none;
    padding: 13px 25px 13px 25px;
    font-size: 18px;
  margin-top: 35px;
  margin-right:43%;
  float: right;
  border-radius: 12px;
  box-shadow: inset 0 0 0 3px #1e76a2;

  
}
div.centro{
  text-align: center;
}
h1.titulo{
  text-align: left;
  font-size: 58px;
}
h1.titulo1{
  text-align: center;
  font-size: 58px;
}
h3.centro{
  text-align: center;
}
h1.centro{
  text-align: center;
}
h2.centro{
  text-align: center;
  font-size: 62px;
  font-family: initial;
  color: brown;
}
p.mascota {
  font: auto;
    color: #999999;
  display: inline-block;
margin-bottom: 5px;
font-weight: 400;
   font-family:fantasy;
}
p.blanco{
 font-size: 13px;
color: white;
font-weight: bold;
background: transparent;
border: none;
}
#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}
  /* Barra Horizontal de Corrimiento */
  /* Barra Horizontal de Corrimiento */
 .barra-panel {overflow:auto; position:absolute; left:10px;  width:98.5%; right:20px; height:140px; z-index:1; }
.borde-Panel {border: 0px; background: 0; }
.punta-Izq {border-top-left-radius: 5px; }
.punta-Der {border-top-right-radius: 5px; }
.barra-Scroll {width: auto; } /* Aca entran 20 fotos con un incremento de 130px por fotograma +/- */
.contiene-Item img {border: 1px solid RGB(0,0,0); width:150px; height:100px; float:left; margin: 10px; margin-left: 5px; }






